*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-weight: 700;   
    padding-top: 2rem;
    position: fixed;
    top: 0;
}

 .nav-links{
    padding-right: 5rem;
    display: flex;
    justify-content: space-around;
    width: 30%;
    position: fixed;
    right: 5rem;
}
.nav-links li{
    list-style: none;
}
.nav-links li:hover{
    transform: translateY(-10%);
    transition: all 0.2s ease;
}
.nav-link{
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    border: white 3px solid;
    border-radius: 1rem;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    margin: 1rem;
    transition: all 0.25s ease;
}

.nav-link:hover{
    box-shadow: 0 0.5rem 0.5rem -.4rem #586668;
    transform: translateY(-0.25);
    filter: invert(1);
}

.container{
    background: white;
    min-height: 70vh;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 1.5rem 1.5rem 1.5rem -0.4rem #586668;
}
.content{
    font-family: 'Berkshire Swash', cursive;
}

.content p{
    font-style: italic;
    font-weight: 300;
    /* position: fixed;
    left: 1rem;
    top: 6rem; */
    margin: 3rem 0rem;
    color: #0077b6;
    font-size: 2rem;
    max-width: 20rem;
}

.content h1{
    font-weight: 800;
    /* position: fixed;
    left: 1rem;
    top: 2rem; */
    color: #023e8a;
}
.content li{
    list-style: none;
}
.content ul{
    /* position: fixed;
    top: 15rem;
    left: 1rem; */
    display: flex;
    flex-direction: column;  
    color: #0096c7;
    font-weight: 300;
    font-size: 1.25rem;
}

.circle1{
    background:linear-gradient(to right bottom, rgba(70, 227, 255, 0.8), rgba(255, 255, 255, 0.3));
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: fixed;
    top: -10rem;
    right: -10rem;
}

.circle2{ 
    background:linear-gradient(to right bottom, rgba(70, 227, 255, 0.8), rgba(255, 255, 255, 0.3));
    min-width: 30rem;
    min-height: 30rem;
    border-radius: 50%;
    position: fixed;
    bottom: -10rem;
    left: -10rem;
}

.intro{
    background: #FFD6A5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.intro img {
    max-width:50rem;
    max-height:30rem;
    width: auto;
    height: auto;
    padding: 0rem 3rem;
  }

.intro-text{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    
}

.slider{
    background: #9BF6FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.hide{
    background: #FFD6A5;
    overflow :hidden;
}

.hide span{
    padding: 1.5rem 0rem;
    display: inline-block;
    transform: translateY(100%);
} 

